ion-toolbar {
    --border-width: 0;      /* Elimina cualquier borde */
    --box-shadow: none;     /* Elimina cualquier sombra */
  }

  ion-header {
    --border-width: 0;      /* Elimina el borde */
    --box-shadow: none;     /* Elimina cualquier sombra */
  }