<app-encabezado></app-encabezado>

<ion-content>
  <ion-text color="light" class="ion-text-center">
    <h1>Cursos</h1>
  </ion-text>

<div class="page-content">
  <div class="list-container">
    <ion-item detail="true" routerLink="{{item.ruta}}" *ngFor="let item of vinculos" color="secondary" class="titulo">
      <ion-label class="i-text-capitalize margin-label" color="tertiary" ><strong>{{item.titulo}}</strong></ion-label>
      <ion-icon name="{{item.icono}}" slot="start" color="tertiary"></ion-icon>
    </ion-item>  
  </div>
</div>




</ion-content>