ion-content{
    --ion-background-color: #07012B;
    height: 100%;
}

.card{
    margin-top: 50%;
}

.titulo{
    font-size: 24px;
    color: white;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    margin-left: -10px;
}

.margin{
    margin-top:2rem;
}